.image{
	border-radius: 130px;
	float: left;

	box-shadow: 0px 10px 30px red;
	width: 250px;
	height: 250px;

	
}
.carde-white{
	background: white;
	padding: 40px;
	box-shadow: 0px 10px 30px black;
	border-radius: 25px;
	margin: 20px 0px;

}
.contenaire{
	width: 1200px;
	margin: 30px auto;
}
.center {
	list-style: none;
    padding-top: 0px;
}
.center li {
	display: inline;
	padding: 10px;

}
h1{
	text-align: center;
	color: red;
	font-size: 40px;
}
p{
  text-decoration-line: underline;
  text-decoration-color: green;
  font-size: 25px;
	font-family: Helvetica;
	
  }